node_modules

config.json
tsconfig.tsbuildinfo

temp/*
!temp/.keep

.idea
.vscode
.bash_profile
.bashrc
lib
lib/*
blockchain/ganache_db/*
blockchain/src/abis/*
blockchain/out/*
blockchain/cache/*

.DS_Store
.AppleDouble
.LSOverride
