.tree {
	width: 100%;
	height: auto;
	text-align: center;
}

.tree ul {
	padding-top: 20px;
	position: relative;
	transition: .5s;
}

.tree li {
	display: inline-table;
	text-align: center;
	list-style-type: none;
	position: relative;
	padding: 10px;
	transition: .5s;
}

.tree li::before,
.tree li::after {
	content: '';
	position: absolute;
	top: 0;
	right: 50%;
	border-top: 2px solid black;
	width: 51%;
	height: 10px;
}

.tree li::after {
	right: auto;
	left: 50%;
	border-left: 2px solid black;
}

.tree li:only-child::after,
.tree li:only-child::before {
	display: none;
}

.tree li:only-child {
	padding-top: 0;
}

.tree li:first-child::before,
.tree li:last-child::after {
	border: 0 none;
}

.tree li:last-child::before {
	border-right: 2px solid black;
	border-radius: 0 5px 0 0;
	-webkit-border-radius: 0 5px 0 0;
	-moz-border-radius: 0 5px 0 0;
}

.tree li:first-child::after {
	border-radius: 5px 0 0 0;
	-webkit-border-radius: 5px 0 0 0;
	-moz-border-radius: 5px 0 0 0;
}

.tree ul ul::before {
	content: '';
	position: absolute;
	top: 0;
	left: 50%;
	border-left: 1px solid black;
	width: 0;
	height: 20px;
}

.tree li a {
	border: 1px solid black;
	padding: 10px;
	display: inline-grid;
	border-radius: 5px;
	text-decoration-line: none;
	border-radius: 5px;
	transition: .5s;
}

.tree li a img {
	width: 50px;
	height: 50px;
	margin-bottom: 10px !important;
	border-radius: 100px;
	margin: auto;
}

.tree li a span {
	border: 1px solid black;
	border-radius: 5px;
	color: #666;
	padding: 8px;
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 500;
}

/*Hover-Section*/
.tree li a:hover,
.tree li a:hover i,
.tree li a:hover span,
.tree li a:hover+ul li a {
	background: #CC66FF !important;
	color: #000;
	border: 1px solid #94a0b4;
}

.tree li a:hover+ul li::after,
.tree li a:hover+ul li::before,
.tree li a:hover+ul::before,
.tree li a:hover+ul ul::before {
	border-color: #94a0b4;
}