{{> Header}}

<style>
    .lineDetailStyle{
        margin: auto;
        background-color: rgba(0,0,0,0.2);
    }
</style>

<script language="javascript">

    $(document).ready(function() {
        initializeUpdateFields();
        $("#geniusInvestorSearch").addClass('active');
        initializeStosDropdown();

        document.getElementById("serachInvestorsQueryInput")
            .addEventListener("keyup", function(event) {
                event.preventDefault();
                if (event.keyCode === 13) {
                    document.getElementById("searchBtn").click();
                }
            });
    })
    function initializeUpdateFields() {
        const decodedJson = decodeURIComponent("{{affiliateUpdateServiceInProgress}}");
        const updateProgress = JSON.parse(decodedJson);
        if (!updateProgress) {
            document.getElementById("content").hidden = false;
            document.getElementById("updateAffiliateStatsDiv").hidden = false;
        } else {
            document.getElementById("affiliateUpdateServiceInProgress").innerHTML =
                `Affiliate Update Service Is Currently In Progress <br> Currently Processing: ${updateProgress} Investors`;
        }
    }

    function initializeStosDropdown() {
        const decodedJson = decodeURIComponent("{{stoList}}");
        const jsonObj = JSON.parse(decodedJson);

        // adding the stos to the dropdown
        let dataListInnerHtml = '';
        dataListInnerHtml += `<option value="All">`;
        jsonObj.forEach(element => {
            dataListInnerHtml += `<option value="${element.ID} - ${element.title}">`;
        });
        const stosDropdown = document.getElementById('stosDropdown');
        stosDropdown.innerHTML = dataListInnerHtml;

        // selecting the first sto as the default for the dropdown
        const defaultStosSelected = `All`;
        const stosInput = document.getElementById('stosInput');
        stosInput.value = defaultStosSelected;
        stosInput.onfocus = function() {
            stosInput.name = stosInput.value;
            stosInput.value ='';
        }; // on focus - clear input
        stosInput.onchange = function() { stosInput.blur() };
        stosInput.onblur = function() {
            if (stosInput.value === ''){
                stosInput.value = stosInput.name;
            }
        };
    }
    function updateInvestorsDiv(query) {
        document.getElementById('investorsDivContent').innerHTML = '';
        const url = `/platform/geniusSearchPlatformInvestorsByQuery?${query}`;
        const xhr = new XMLHttpRequest();
        xhr.open("GET", url, true);
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
        xhr.onreadystatechange = function() {//Call a function when the state changes.
            if(xhr.readyState == 4) {
                if (xhr.status == 200) {
                    const investorAffiliateOverview = JSON.parse(xhr.response);
                    let html = '';
                    console.log(JSON.stringify(investorAffiliateOverview));
                    if (investorAffiliateOverview.length < 1) {
                        html += `<label>No Records Found</label>`;
                    }
                    investorAffiliateOverview.forEach(result => {
                        html += `<div class="row" data-toggle="collapse" data-target="#${result.ID}" style="cursor:pointer">
                            <div class="col-md-1">
                                ${result.ID}
                            </div>
                            <div class="col-md-2">
                                ${result.FirstName} ${result.LastName}
                            </div>
                            <div class="col-md-1">
                                ${result.Country}
                            </div>
                            <div class="col-md-3">
                                ${result.Email}
                            </div>
                            <div class="col-md-1">
                                ${result.LineCount}
                            </div>
                            <div class="col-md-2">
                                ${result.PersonalInvestmentVolume}
                            </div>
                            <div class="col-md-2">
                                ${result.TotalDownlineInvestmentVolume}
                            </div>`;
                        if (result.LineDetails.length) {
                            html += `<div class="collapse" id="${result.ID}">
                                <div class="row lineDetailStyle">
                                    <b>
                                    <div class="col-md-3">
                                        LineInvestorID
                                    </div>
                                    <div class="col-md-3">
                                        LineStoID
                                    </div>
                                    <div class="col-md-6">
                                        armVolume
                                    </div>
                                    </b>
                                </div>`;
                        result.LineDetails.forEach(detail => {
                            html += `<div class="row lineDetailStyle">
                                        <div class="col-md-3">
                                            ${detail.lineInvestorId}
                                        </div>
                                        <div class="col-md-3">
                                            ${detail.stoid}
                                        </div>
                                        <div class="col-md-6">
                                            ${detail.armVolume}
                                        </div>
                                    </div>`;
                        });

                        }
                        html +=`</div></div><br>`;
                    });
                    document.getElementById('investorsDivContent').innerHTML += html;
                }
            }
        }
        xhr.send(null);
    }
    function searchInvestor() {
        const query = getSearchCriteria();
        updateInvestorsDiv(query);
    }
    function getSearchCriteria() {
        const stosDropdownValue = document.getElementById('stosInput').value;
        const selectedStoId = stosDropdownValue.substr(0, stosDropdownValue.indexOf(' '));
        let query = '';
        query += `searchInvestorsQuery=${document.getElementById('serachInvestorsQueryInput').value}`;
        if (selectedStoId) {
            query = addToQuery(query, 'stoId', selectedStoId);
        }
        const elementIds = ['searchLinesFrom', 'searchLinesTo', 'searchArmFrom', 'searchArmTo',
            'searchPersonalFrom', 'searchPersonalTo', 'searchDownlineFrom', 'searchDownlineTo'];
        for (i=0; i < elementIds.length; i++) {
            query = addToQuery(query, elementIds[i], document.getElementById(elementIds[i]).value);
        }
        return query;
    }

    function addToQuery(query, toAddName, toAddValue) {
        if (query !== '') {
            query += '&';
        }
        if (toAddValue !== '') {
            query += `${toAddName}=${toAddValue}`;
        }
        return query;
    }

    function updateGeniusStats() {
        const affiliateInvestmentFromDate = commonGetMySQLDateFormat(document.getElementById("affiliateInvestmentFromDate").value);
        const affiliateInvestmentToDate = commonGetMySQLDateFormat(document.getElementById("affiliateInvestmentToDate").value);
        document.location.href=
            `updateGeniusStatistics?affiliateInvestmentFromDate=${affiliateInvestmentFromDate}&affiliateInvestmentToDate=${affiliateInvestmentToDate}`;
        return false;
    }

</script>

{{> HeaderInnerPlatform}}

<div class="row">
    <div class="col-md-12 ">
        <div class="card">
            <div class="header">
                <h4 class="title"><img src="/img/contracts2.png" width="25px;">Investors Search</h4>
                <br>
                <label>Affiliate Investment Period</label>
                <br>
                <b id="affiliateUpdateServiceInProgress"></b>
                <br>
                <div class="row" id="updateAffiliateStatsDiv" hidden="true">
                    <div class="col-md-4">
                        <label>From Date</label>
                        <input  id="affiliateInvestmentFromDate" name="affiliateInvestmentFromDate" onkeydown="return false;"  value=""
                                class="form-control border-input datepicker-here" data-language='en'
                                data-date-format="MM dd yyyy" type=text autocomplete="off" />
                    </div>
                    <div class="col-md-4">
                        <label>To Date</label>
                        <input  id="affiliateInvestmentToDate" name="affiliateInvestmentToDate" onkeydown="return false;"  value=""
                                class="form-control border-input datepicker-here" data-language='en'
                                data-date-format="MM dd yyyy" type=text autocomplete="off" />
                    </div>
                    <div class="col-md-4">
                        <br>
                        <button type="button" onclick="return updateGeniusStats()" class="btn btn-info btn-fill btn-wd">
                            Update Genius Statistics
                        </button>
                    </div>
                </div>
                <br>
            </div>

            <div class="content" id="content" hidden="true">
                <div class="row">
                    <div class="col-md-5">
                        <div class="form-group">
                            <label>Select STO</label>
                            <input onchange="this.blur();" id="stosInput" class="form-control border-input" list="stosDropdown">
                            <datalist id="stosDropdown"></datalist>
                        </div>
                    </div>
                </div>
                <label>Search for Investors Platform Wide by ID, name, country or email</label>
                <div class="row">
                    <div class="col-md-10">
                        <input id="serachInvestorsQueryInput" maxlength="100" placeholder="e.g: 215" class="form-control border-input">
                    </div>
                    <div class="col-md-2">
                        <button id="searchBtn" onclick="searchInvestor()" class="btn btn-info btn-fill btn-wd"><i class="ti-search"></i> search</button>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-3">
                        <label>Lines Investment Volume</label>
                        <div class="col-md-6">
                            <label>Min</label>
                            <input min="0" type="number" id="searchLinesFrom" placeholder="Lines From" class="form-control border-input">
                        </div>
                        <div class="col-md-6">
                            <label>Max</label>
                            <input min="0" type="number" id="searchLinesTo" placeholder="Lines To" class="form-control border-input">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label>Arm Investment Volume</label>
                        <div class="col-md-6">
                            <label>From</label>
                            <input min="0" type="number" id="searchArmFrom" placeholder="Arm From" class="form-control border-input">
                        </div>
                        <div class="col-md-6">
                            <label>To</label>
                            <input min="0" type="number" id="searchArmTo" placeholder="Arm To" class="form-control border-input">
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-3">
                        <label>Personal Investment Volume</label>
                        <div class="col-md-6">
                            <label>From</label>
                            <input min="0" type="number" id="searchPersonalFrom" placeholder="Personal From" class="form-control border-input">
                        </div>
                        <div class="col-md-6">
                            <label>To</label>
                            <input min="0" type="number" id="searchPersonalTo" placeholder="Personal To" class="form-control border-input">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label>Total Network Volume</label>
                        <div class="col-md-6">
                            <label>From</label>
                            <input min="0" type="number" id="searchDownlineFrom" placeholder="Downline From" class="form-control border-input">
                        </div>
                        <div class="col-md-6">
                            <label>To</label>
                            <input min="0" type="number" id="searchDownlineTo" placeholder="Downline To" class="form-control border-input">
                        </div>
                    </div>
                </div>
                <br>
                <br>
                <div class="row">

                    <div class="col-md-12">
                        <div class="row">
                            <b>
                                <div class="col-md-1">
                                    Investor ID
                                </div>
                                <div class="col-md-2">
                                    Name
                                </div>
                                <div class="col-md-1">
                                    Country
                                </div>
                                <div class="col-md-3">
                                    Email
                                </div>
                                <div class="col-md-1">
                                    Total No. of Lines
                                </div>
                                <div class="col-md-2">
                                    Personal Investment Volume
                                </div>
                                <div class="col-md-2">
                                    Total Downline Investment Volume
                                </div>
                            </b>
                        </div>
                        <br>
                        <div id="investorsDivContent">

                        </div>
                    </div>

                    <div class="col-md-6">

                    </div>

                </div>

            </div>
        </div>
    </div>
</div>

{{> Footer}}