{{> Header}}

	<script language="javascript">

        $(document).ready(function() {

        })
        
	</script>

{{> HeaderInner}}

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="header">

                </div>
                <div class="content">

                    <img src="/img/ThankyouRegistering.png" width="100%" />

                    <br />                       
                    <h3>Email address verified</h3>
                    <br />                               
                    Your email address has been verified and your online investor profile has been created
                    <br /><br />                                
                    Please click login and begin your verification process 
                    <br /><br />                                

                    <a href="login"> <img src="/img/loginprofile.jpg" width="200px;"/> </a>
                    <br /><br />
                    <br /><br />

                </div>
            </div>
        </div>
    </div>

{{> Footer}}