node_modules

uploads/*
!uploads/.keep

uploads/contracts/initial/*
!uploads/contracts/initial/.keep

uploads/contracts/signed/*
!uploads/contracts/signed/.keep

uploads/legal/*
!uploads/legal/.keep

uploads/signatures/*
!uploads/signatures/.keep

uploads/documemtsigns/*
!uploads/documemtsigns/.keep

uploads/doccontracts/*
!uploads/doccontracts/.keep

uploads/docs/*
!uploads/docs/.keep

uploads/agendaitems/*
!uploads/agendaitems/.keep
 
uploads/linkdocs/*
!uploads/linkdocs/.keep
!uploads/linkdocs/keep.txt

uploads/verifiedkycdocs/*
!uploads/verifiedkycdocs/.keep
!uploads/verifiedkycdocs/keep.txt

public/img/stobanners/*
!public/img/stobanners/.keep

public/img/stologo/*
!public/img/stologo/.keep

log/*
!log/.keep

config.json
tsconfig.tsbuildinfo

temp/*
!temp/.keep

!.gitignore
!.keep

.idea
.vscode
.bash_profile
.bashrc
lib
lib/*

.DS_Store
.AppleDouble
.LSOverride

start.sh
