
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="header">
                <h4 class="title"></h4>
            </div>
            <div class="content">

                    <img src="/img/done.jpg" width="100%" />    

                    <br /><br /><br />
                    Your profile has been submitted. Our staff is notified and they will get back to you in a few working days.
                    <br /><br />
                    You will receive an email from our staff to inform whether your profile is approved or not. In case of not approved, our staff will describe in detail what additional information can be provided. 
                    <br /><br />
                    You can re-login with your email and password and update your information. If your profile is approved then you can login to your investor dashboard using the same email and password.                         <br /><br />
                    You may now logout. You can also click any of the previous steps on the left side menu to review your submitted information, make changes and resubmit.

            </div>
        </div>
    </div>
</div>
