
<div class="row">
<div class="col-md-12">
    <div class="card">
        <div class="header">
            <h4 class="title"></h4>
        </div>
        <div class="content">

                <img src="/img/error.jpg" width="100%"/>    

                <br /><br /><br />

                <br /><br />
                {{{message}}}

                <br /><br /><br />


        </div>
    </div>
</div>
</div>
                              