{{> Header}}

	<script language="javascript">

		$(document).ready(function()
		{

		})

	</script>

{{> HeaderInner}}

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="header">
                    <h4 class="title">
                         <img src="/img/email.png" width="30px;" style="padding-bottom:4px;" /> &nbsp;
                    </h4>
                </div>

                <div class="content">


                                <div class="row"> 
                                      <div class="col-md-3"> 
                                      </div> 
                                      <div class="col-md-6"> 
                                            <div class = "main">
                                                <div class="row padder"> 
                                                    <div class="col-md-3 cover"> 
                                                        <img src="cover.png" class="img img-responsive" alt="book" > </img> 
                                                    </div> 
                                                    <div class="col-md-9"> 
                                                        <h2 style="color: #dd3322;"> Alas :( <hr> 
                                                            An error has occured.
                                                         </h2> 

                                                        <hr> 
                                                        <a href="/"> 
                                                        <button class="btn btn-warning btn-lg"> Back to home.  </button> 
                                                        </a> 
                                                    </div> 
                                                </div> 

                                             </div>
                                      </div> 
                                      <div class="col-md-2"> 
                                      </div> 
                                </div>                    
                    

                    <br /><br />

                </div>

            </div>
        </div>
    </div>

{{> Footer}}
