<script>
    function changePropertySorting() {
      document.getElementById('saveParams').submit();
    }
</script>

<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="header">
        <h4 class="title">  <img src="/img/addmore.png" width="30px;" style="padding-bottom:4px;" alt='add more'/> Active Offering - Sorting</h4>
        <label>Allow the investor to sort the offerings from the Active Projects view</label>
      </div>
      <div class="content">
        <form method="post" id="saveParams" action="postChangeIsPropertySortingEnabled">
          <div class="row">
            <div class="col-md-12">
              <label class="switch">
                <input id="isPropertySortingEnabled" name="isPropertySortingEnabled"
                       onclick=changePropertySorting() type="checkbox"
                  {{#if isPropertySortingEnabled}}
                       checked
                  {{/if}}
                >
                <span class="slider round"></span>
              </label>
            </div>
          </div>
          <input type="hidden" name="_csrf" value="{{csrfToken}}" />
        </form>
      </div>
    </div>
  </div>
</div>
